.PollPage {
    width: 80vw;
    max-width: 600px;
}
.UserSection {
    margin-bottom: 30px;
}
.UserInfo {
    display: inline;
}
.ChangeUserName {
    display: none;
    float: right;
}
.UserSection:hover .ChangeUserName {
    display: inline;
}
.PollsContainer {
    margin-top: 30px;
}